/* font-family: 'Lavishly Yours', cursive; */

  body {
    /* color: white;
    position: right;
    width: 50%;
    height: 50%; */
    font-family: helvetica;
  }

  h1 {
    font-size: 100px;
  }

  p {
    font-size: 20px;
    font-weight: lighter;
  }

  .navbar-brand {
    font-family: 'Lavishly Yours', cursive;
    font-size: 40px;
  }

  #emilyphoto {
    height: auto;
    width: auto;
    max-width: 600px;
    max-height: 600px;
  }

.container {
    width: 50%;
    /*height: 400px; */
    /* padding: 100px; */
    margin: 15%;
}